body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.topnav {
overflow: hidden;
background-color: #333;
position: fixed;
width: 100%;
z-index: 100;
}

.topnav a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}

.topnav .icon {
display: none;
}

/* parallax */
.bg1 {
    background-image: url("https://www.focus2move.com/wp-content/uploads/2021/02/Bugatti-Divo_Lady_Bug-2020-1024-0b.jpg") ;
    /* Set a specific height */
    min-height: 800px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 {
    /* The image used */
    background-image: url("https://www.netcarshow.com/Bugatti-Divo_Lady_Bug-2020-1600-09.jpg");
  
    /* Set a specific height */
    min-height: 800px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button
  {
     font-size: 2rem;
     border-radius: 20px;
     color: Black;
     position: relative;
     
  }
  .active1
  {
      position: fixed;
      top: 650px;
      left: 0px;
      width: 100%;
  }
  .active2
  {
      position: fixed;
      top: 20px;
      left: 350px;
      background-image: url("fdr");

  }

@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}

@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.active1
{
  position: fixed;
  top: 650px;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
}
@media screen and (min-width: 601px) and (max-width:1000px){
  .active1
{
  position: fixed;
  top: 650px;
}
}